<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Baget" value="https://nuget.relaxscript.com/v3/index.json" />
  </packageSources>
  <packagesourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*"/>      
    </packageSource>
    <packageSource key="Baget">
      <package pattern="Alex.*"/>
    </packageSource>
  </packagesourceMapping>
</configuration>